.element__name {
    margin: 0px 0px 0px 21px;
    align-self: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (max-width: 1180px) {
    .element__name {
        max-width: calc(100% - 75px);
    }
}