.footer {
    width: 880px;
    margin: 0 auto 60px;
}

@media screen and (max-width: 1280px) {
    .footer {
        max-width: calc(100% - 400px);
    }
}

@media screen and (max-width:860px) {
    .footer {
        max-width: 282px;
    }
}